[submodule "CarzCo-Client"]
	path = CarzCo-Client
	url = https://github.com/locwa/CarzCo-Client.git
[submodule "CarzCo-Portal-App"]
	path = CarzCo-Portal-App
	url = https://github.com/locwa/CarzCo-Portal-App.git
